<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title> Taller 01 </title>

    <!-- BOOTSTRAP 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar-darl bg-dark mb-4">
        <a href="/" class="navbar-brand">Servidor Aguirre, Lewis, Quintero</a>
    </nav>